@font-face {
  font-family: "zhanku";
  src: url('../font/站酷高端黑.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "youshe";
  src: url("../font/优设标题黑.ttf");
}
@font-face {
  font-family: "pangmen";
  src: url("../font/庞门正道标题体.ttf");
}
@font-face {
  font-family: "zhankuyuyang";
  src: url("../font/站酷仓耳渔阳体-W05.ttf");
}
